<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Welcome, {{ name }}!</h1>
            <a href="{{ url_for('user.logout') }}" class="btn btn-danger">Logout</a>
        </div>
        <div class="card shadow-sm p-4">
            <p style="font-size: 20px;"><strong>As a User, you only have read-only access to view basketball matches, tournaments and their results.</strong></p>
            <div class="mt-3">
                <button id="load-players" class="btn btn-info">View All Players</button>
                <button id="load-teams" class="btn btn-info">View All Teams</button>
                <button id="get-tournaments" class="btn btn-info">View All Tournaments</button>
                <button id="get-player-matches" class="btn btn-info">View All Player Matches</button>
                <button id="get-team-matches" class="btn btn-info">View All Team Matches</button>
            </div>
        </div>

        <div class="mt-5">
            <h3>Tournaments</h3>
            <table id="tournaments-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Prize</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">Click "View All Tournaments" to load data.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-5">
            <h3>Player Matches</h3>
            <table id="player-matches-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Match ID</th>
                        <th>Title</th>
                        <th>Played At</th>
                        <th>Match Format</th>
                        <th>Players</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">Click "View All Player Matches" to load data.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-5">
            <h3>Team Matches</h3>
            <table id="team-matches-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Match ID</th>
                        <th>Title</th>
                        <th>Played At</th>
                        <th>Match Format</th>
                        <th>Players</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">Click "View All Team Matches" to load data.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-5">
            <h3>Teams</h3>
            <table id="teams-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Team Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Click "View All Teams" to load data.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container py-5">
            <div class="mt-5">
                <h3>Players</h3>
                <table id="players-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">Click "View All Players" to load data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('#get-tournaments').on('click', function () {
                    $.ajax({
                        url: "/tournaments/all",
                        method: "GET",
                        success: function (response) {
                            let rows = '';
                            if (response.tournaments.length > 0) {
                                response.tournaments.forEach(function (tournament) {
                                    rows += `
                                        <tr>
                                            <td>${tournament.id}</td>
                                            <td>${tournament.title}</td>
                                            <td>${tournament.prize}</td>
                                            <td>${tournament.winner ? tournament.winner : 'No winner yet'}</td>
                                        </tr>
                                    `;
                                });
                            } else {
                                rows = `
                                    <tr>
                                        <td colspan="4">No tournaments available.</td>
                                    </tr>
                                `;
                            }
                            $('#tournaments-table tbody').html(rows);
                        },
                        error: function (xhr) {
                            alert(`Failed to load tournaments: ${xhr.responseText}`);
                        }
                    });
                });
            });

            $('#load-players').on('click', function () {
                $.ajax({
                    url: "{{ url_for('player.all_players') }}",
                    method: "GET",
                    success: function (response) {
                        let rows = '';
                        if (response.players.length > 0) {
                            response.players.forEach(function (player) {
                                rows += `<tr>
                                            <td>${player.id}</td>
                                            <td>${player.first_name} ${player.second_name}</td>
                                            <td>${player.country}</td>
                                            <td>${player.team ? player.team : 'No team assigned'}</td>
                                        </tr>`;
                            });
                        } else {
                            rows = `<tr>
                                        <td colspan="5">No players available.</td>
                                    </tr>`;
                        }
                        $('#players-table tbody').html(rows);
                    },
                    error: function () {
                        alert('Failed to load players. Please try again later.');
                    }
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#load-teams').on('click', function () {
                $.ajax({
                    url: "{{ url_for('team.all_teams') }}",
                    method: "GET",
                    success: function (response) {
                        let rows = '';
                        if (response.teams.length > 0) {
                            response.teams.forEach(function (team) {
                                rows += `<tr>
                                            <td>${team.id}</td>
                                            <td>${team.name}</td>
                                         </tr>`;
                            });
                        } else {
                            rows = `<tr>
                                        <td colspan="3">No teams available.</td>
                                    </tr>`;
                        }
                        $('#teams-table tbody').html(rows);
                    },
                    error: function () {
                        alert('Failed to load teams. Please try again later.');
                    }
                });
            });

            $('#get-player-matches').on('click', function () {
                $.ajax({
                    url: "/match/playerMatch",
                    method: "GET",
                    success: function (response) {
                        let rows = '';
                        if (response.length > 0) {
                            response.forEach(function (match) {
                                let players = match.players.join(", ");
                                rows += `
                                    <tr>
                                        <td>${match.match_id}</td>
                                        <td>${match.title}</td>
                                        <td>${match.played_at}</td>
                                        <td>${match.match_format_name}</td>
                                        <td>${players}</td>
                                    </tr>
                                `;
                            });
                        } else {
                            rows = `
                                <tr>
                                    <td colspan="5">No player matches available.</td>
                                </tr>
                            `;
                        }
                        $('#player-matches-table tbody').html(rows);
                    },
                    error: function (xhr) {
                        alert(`Failed to load player matches: ${xhr.responseText}`);
                    }
                });
            });

            $('#get-team-matches').on('click', function () {
                $.ajax({
                    url: "/match/teamMatch",
                    method: "GET",
                    success: function (response) {
                        let rows = '';
                        if (response.length > 0) {
                            response.forEach(function (match) {
                                let players = match.players.join(", ");
                                rows += `
                                    <tr>
                                        <td>${match.match_id}</td>
                                        <td>${match.title}</td>
                                        <td>${match.played_at}</td>
                                        <td>${match.match_format_name}</td>
                                        <td>${players}</td>
                                    </tr>
                                `;
                            });
                        } else {
                            rows = `
                                <tr>
                                    <td colspan="5">No player matches available.</td>
                                </tr>
                            `;
                        }
                        $('#team-matches-table tbody').html(rows);
                    },
                    error: function (xhr) {
                        alert(`Failed to load team matches: ${xhr.responseText}`);
                    }
                });
            });      
        });
    </script>
</body>
</html>
